.main-content-login {
  section.main-content {
    background-image: url("../../assets/background/elemento-fondo1.png");
    background-repeat: no-repeat;
    background-position: top right;

    @media (max-width: 992px) {
      background-image: none;
    }

    .icon-titular {
      // background: yellowgreen;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .text-login {
      padding-left: 15px;
      .ahora {
        line-height: 15px;
        font-family: $noto_black;
      }
      .todos {
        line-height: 94px;
        font-family: $noto_black;
      }
      .limites {
        line-height: 52px;
        font-family: $noto_black;
      }
      .comprando {
        margin-top: 10px;
        font-family: $noto_black;
      }
    }
  }
}

.content-col-form {
  border: 2px solid $blue;
  padding: 30px 40px;

  .content-form {
    .input-user {
      border: 2px solid $blue;
      color: $gray-3;
    }
  }
}
